@font-face {
  font: {
    family: 'Chalet';
    style: normal;
    weight: normal;
  }
  src: url(./fonts/Chalet.eot);
  src: url(./fonts/Chalet.eot?#iefix) format('embedded-opentype'),
    url(./fonts/Chalet.woff) format('woff'),
    url(./fonts/Chalet.ttf) format('truetype'),
    url(./fonts/Chalet.svg#Chalet) format('svg');
}

#canvas {
  background-color: rgba($color: #dff9fb, $alpha: 1);
}
